.postJobCont{
  justify-content: center;
  margin:0 auto;
  background: teal;
  padding-bottom: 100px;
}

.postJobTitleCont{
  padding-top: 50px;
  text-align: center;
  color: white;
}

.postJobSearchCont{
  text-align: center;
  margin:0 auto;
  padding:30px;
  justify-content: center;
  max-width: 800px;
}

.homePageCont button{
  border-radius: 15px;
}

.postJobSearchCont .inputLine,.postJobSearchCont textarea{
  display: block;
  margin:0 auto;
  margin-bottom: 10px;
  width: 200px;
}