/* FONT */
.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: "Nunito", sans-serif;
}

input,textarea{
  border:none;
  padding:8px 20px;
  margin:5px;
  border-radius: 15px;
}
button{
  border:none;
  padding:5px 10px;
  margin:5px;
  border-radius: 5px;
  cursor: pointer;
}

.radioLine{
  display: flex;
  justify-content: left;
  width: 100px;
  margin:0 auto;
}
.radioLine input{
  margin:0 !important;
  margin-right:10px !important;
  margin-bottom: 10px !important;
}
.radioLine label{
  color: white;
  margin-bottom: 10px !important;
}

/*  */
/* JOBLIST COMPONENT */
.jobListWrapper{
  background: teal;
  padding:30px;
}
.jobListCont{
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  margin: 0 auto;

  max-width:1200px;
  height: 100%;
}
.infoCont h2{
  margin-top:5px;
  margin-bottom:5px;
}
.infoCont h3{
  margin-top:8px;
  margin-bottom:0;
}
.capitalize-text {
  text-transform: uppercase;
}
.companyLocationLine{
  display:flex;
  margin-bottom: 20px;;
}
.locationLine{
  margin-top:3px
}
.companyLocationLine *{
  margin-right:10px;
}
.skillsButton{
  color: white;
  background:green;
  padding:5px 3px;
  margin-right:5px;
  border-radius: 5px;
  border:none;
  min-width: 50px;
}
.skillsButtonWide{
  color: white;
  background:green;
  padding:5px 3px;
  margin-right:5px;
  border-radius: 5px;
  border:none;
  min-width: 100px;
}
.jobBox{
  display: flex;
  background:white;
  /* border: 1px solid  #333; */
  border-radius: 10px;
  padding:10px 20px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:30px;

  min-height: 250px;
  /* min-width: 300px !important; */
}
.jobLine{
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
}
.jobIcon{
  font-size: 24px;
  padding-right: 10px;
}
.applyInfoCont{
  display: block;
  width:150px;
  margin-left: auto;
  margin-top:25px
}

.applyInfoCont button{
  border: none;
  height: 60px;
  border-radius: 10px;
  padding:10px 20px;
  background-color: darkcyan;
  color: white;
  width: 150px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
